Gbessaya-joseph/n8n_workflows2025/05/My workflow 2.json
{
  "active": false,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Gmail1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        []
      ]
    },
    "Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-01T15:50:07.691Z",
  "id": "MtN7o3nJINLZT3rg",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        40,
        20
      ],
      "id": "4a300ef7-5384-48b8-82ff-a90a035ef2b9",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "sendTo": "gbessayajoseph32@gmail.com",
        "subject": "Salutation",
        "message": "Salut mon ami comment tu vas ?",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        260,
        20
      ],
      "id": "49012c4b-33de-4328-8991-8c97db9ffeff",
      "name": "Gmail1",
      "webhookId": "963d7f48-f79a-4f03-b3ad-4a016adaa247",
      "credentials": {
        "gmailOAuth2": {
          "id": "xpwagxAJ3fz2wsV2",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        40,
        240
      ],
      "id": "91ae8cad-35dd-4d70-8250-a49038dfc1d3",
      "name": "When chat message received",
      "webhookId": "8ad854fe-209f-4ba2-970a-86fab7231841"
    },
    {
      "parameters": {
        "options": {
          "passthroughBinaryImages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        260,
        240
      ],
      "id": "a79eb6a2-8690-41ea-b9f9-b21aa4c43430",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash-001-tuning",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        300,
        460
      ],
      "id": "64f6e4f2-36cb-4630-b613-30ef7f6a9975",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "gfYMDwV73wLo1mMh",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Définir les variables pour l'email\nconst emailConfig = {\n  type_message: \"notification\", // Options: \"professionnel\", \"notification\", \"rappel\"\n  destinataire: \"gbessayajoseph32@gmail.com\", // Remplacez par le destinataire réel\n  sujet: \"Rapport quotidien\",\n  contexte: `\"Générer un résumé des activités quotidiennes\" {$input.first().json.output}}`,\n  contexte2: $input.first().json.output,\n  donnees_importantes: {\n    date: new Date().toISOString().split('T')[0],\n    evenement: \"Mise à jour système\",\n    priorite: \"Normale\"\n  }\n};\n\n// Renvoyer les données pour le prochain nœud\nreturn [{\n  json: emailConfig\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        840,
        240
      ],
      "id": "c174dc55-58ba-40c7-a036-d01b39505f58",
      "name": "Code"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.destinataire }}",
        "subject": "={{ $json.sujet }}",
        "message": "={{ $json.contexte2 }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1280,
        200
      ],
      "id": "28fd7c2a-8665-437a-b8dc-0489bb66963c",
      "name": "Gmail",
      "webhookId": "9c1aef2e-f658-434a-adbf-299b50b1def8",
      "credentials": {
        "gmailOAuth2": {
          "id": "xpwagxAJ3fz2wsV2",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Calendar', ``, 'string') }}",
          "mode": "id",
          "__regex": "(^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\\.[a-zA-Z0-9-]+)*)"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        560,
        440
      ],
      "id": "60b6e406-3281-4a5b-9c72-ea24dc41671d",
      "name": "Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "M4qyRgYXe5Tq8bG2",
          "name": "Google Calendar account"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": "n8n_workflows",
  "repo_owner": "Gbessaya-joseph",
  "repo_path": "Gbessaya-joseph/n8n_workflows",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-05-01T17:29:33.231Z",
  "versionId": "fe9faa8f-b7bb-49aa-b850-9e29160fb7a4"
}